body{
	margin:0;
	padding: 5px 20px;
	background:lightgrey;
}
h1{
	font-family:sans-serif;
	font-size:1em;
	font-weight:bold;
	margin: 0 0 0.2em 0.5em;
}
h2{
	font-family:sans-serif;
	font-size:0.9em;
	font-weight:bold;
	margin: 0.3em 0 0.2em 1em;
}



.bmpblock{
	border: 1px solid grey;
	border-radius:4px;
	margin: 5px;
	padding: 5px;
	background-color:white;
	box-shadow: 1px 1px 3px black;
}
/* Tex src = http://fc07.deviantart.net/fs19/i/2007/291/6/b/Concrete_Texture_by_MartinIsaac.jpg*/
#apptitlebox{
	display:flex;
	justify-content:space-around;
	text-align:center;
	font-family:sans-serif;
	font-weight:bold;
	font-size:2em;
	letter-spacing:1.6px;
	color:darkblue;
	padding:10px;
	background-color:lightyellow;
	//background:url('img/conc_banner.jpg');
}



#invardiv{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-around;
	flex: 3 0 270px;
	padding: 5px;
}
#invardivdiv{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-around;
	height:300px;
}
#varinfodiv{
	flex: 1 0 500px;
	padding:0;
}



#reoinputoutputdiv{
	flex: 1 0 370px;
	flex-wrap:wrap;
	align-content:flex-end;
	justify-content:space-around;
	display:flex;
	
}
#reooutputdiv{
	width:100%;
	margin-top:0.5em;
	padding-top:0.5em;
	border-top:2px dashed lightgrey;
}
#reoinputdiv{
	width:100%;
}
x-input{
	//width:280px;
}




#crosssectiondiv{
	flex: 1 0 300px;
}
#elevationdiv{
	flex: 2 0 500px;
}



#errortd{
	background-color:lightyellow;
	padding:5px;
}
#errortd p{
	margin: 0.5em 0;
	font-size:1em;
	line-height:1em;
}


.tooltipbar {
	height:2.2em;
	width:100%;
	border:1px solid grey;
	border-radius:4px;
	background-color:#FFFFE5;
	color:darkblue;
	margin-top:5px;
	text-align:left;
	font-family:sans-serif;
	font-size: 0.9em;
	padding:5px;
	padding-left:55px;
	text-indent:-50px;
	
}
@-webkit-keyframes flashyellow{
	0%{background:white;}
	50%{background:#FFCC11;}
	100%{background:white;}
}
@-webkit-keyframes towhite{
	from{background:#FFCC11;}
	to	{background:white;}
}