.CalcDiv {
  width: 100%;
  border: 1px solid grey;
  margin: 5px 0px; }
  .CalcDiv .topdiv:hover {
    background-color: #f6feff; }
  .CalcDiv .topdiv .titlediv {
    font-size: 100%;
    line-height: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    display: inline-block; }
    .CalcDiv .topdiv .titlediv .MathJax {
      vertical-align: bottom; }
  .CalcDiv .topdiv button {
    width: 25px;
    margin: 0;
    margin-left: 5px;
    margin-right: 2em; }
  .CalcDiv .contentdiv {
    min-height: 20px;
    padding: 5px;
    border-top: 1px dashed lightgrey; }
    .CalcDiv .contentdiv p {
      margin: 0;
      margin-left: 20px;
      margin-top: 0.5em;
      padding: 0; }

.reotable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgrey; }
  .reotable td {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 2px;
    font-family: sans-serif;
    font-size: 0.8em; }
  .reotable tbody tr:hover {
    background-color: #d4f8ff; }
  .reotable tbody, .reotable tfoot td {
    vertical-align: middle;
    text-align: center; }
  .reotable thead td {
    border-left: 1px solid lightgrey;
    text-align: center;
    vertical-align: middle; }

.reoinput button {
  width: 13px;
  height: 100%;
  padding: 0;
  margin: 0; }
.reoinput .bars {
  color: #3e9cad;
  font-weight: bold; }
.reoinput input, .reoinput select {
  width: 100%;
  text-align: center; }
.reoinput input[type="checkbox"] {
  width: 100%;
  height: 16px;
  padding: 0px;
  margin: 0px; }

.protip {
  flex: 0 0 116px;
  width: 100%;
  margin: 5px 0;
  font-family: sans-serif; }
  .protip .tips, .protip .feedback {
    color: #0f272b;
    padding: 5px;
    line-height: 16px;
    font-size: 14px; }
  .protip .tips {
    height: 32px;
    background-color: white;
    padding-left: 4em;
    text-indent: -4em; }
  .protip .feedback {
    height: 64px;
    overflow-y: scroll;
    background-color: #fffdd2; }
    .protip .feedback .errorlist, .protip .feedback .warninglist, .protip .feedback .infolist {
      list-style: none;
      padding: 0;
      padding-left: 48px;
      text-indent: -48px;
      margin: 0px; }
    .protip .feedback .errorlist li:before {
      content: '\2639';
      margin: 0 8px;
      color: red; }
    .protip .feedback .warninglist li:before {
      content: '\2639';
      margin: 0 8px;
      color: orange; }
    .protip .feedback .infolist li:before {
      content: 'i';
      margin: 0 8px;
      color: grey; }

.varinput {
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1px;
  display: flex;
  align-items: center;
  float: left;
  border: 1px solid lightgrey;
  cursor: pointer; }
  .varinput td {
    padding: 1px;
    height: 28px; }
  .varinput:hover {
    border: 1px solid grey; }
  .varinput .notation-div {
    text-align: right;
    padding-right: 8px;
    width: 4em; }
  .varinput .value-div {
    margin-left: 3px;
    width: 3em; }
  .varinput .unit-div {
    margin-left: 0.2em;
    padding-left: 0.2em;
    font-size: 1em;
    width: 2.2em; }
  .varinput .help-div {
    width: 1em;
    padding: 0; }
    .varinput .help-div button {
      color: darkblue;
      font-family: monospace;
      font-weight: bold;
      margin: none;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0; }
  .varinput a {
    color: #1f4e56;
    vertical-align: center; }
    .varinput a:focus {
      outline: none; }
  .varinput input, .varinput select {
    width: 100%;
    text-align: right;
    padding: 0 3px;
    margin: 0; }
  .varinput select {
    direction: rtl; }
  .varinput input[type=number]::-webkit-inner-spin-button, .varinput input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0px;
  background: #c0b3cc;
  display: flex;
  flex-direction: row;
  height: 100%; }

input:invalid, select:invalid {
  background-color: #fffba6;
  color: red; }

h1, h2, h3, h4 {
  font-family: sans-serif;
  font-weight: bold;
  color: #3e9cad; }

h1 {
  font-size: 22pt;
  margin: 0; }

h2 {
  font-size: 14pt;
  margin: 2px 10px; }

h3 {
  font-size: 10pt;
  margin: 0; }

.bmpblock {
  padding: 5px;
  background-color: white; }

#maincol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex: 1 1 200px;
  height: calc(100% - 6px - 10px);
  margin: 5px;
  overflow-y: scroll;
  border: 3px inset;
  border-color: white;
  background-color: white; }

#secondarycol {
  display: flex;
  flex-direction: column;
  display: flex;
  flex: 0.3 0 400px;
  max-width: 500px;
  height: calc(100% - 6px - 10px);
  margin: 5px;
  margin-right: 0px;
  border: 3px inset;
  border-color: white;
  background-color: white; }

#calcdiv {
  flex: 1 0 400px;
  min-height: 800px; }

#apptitlebox {
  display: flex;
  flex: 0 0 35px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  font-family: sans-serif;
  font-weight: bold;
  color: #3e9cad; }
  #apptitlebox h1 {
    flex: 0 1 150px;
    height: 30px; }
  #apptitlebox button {
    flex: 0 1 100px;
    height: 30px;
    font-size: 15px;
    color: inherit; }

#invardiv {
  padding: 5px; }

#varinfodiv {
  flex: 1 1 500px;
  padding: 5px;
  overflow-y: scroll; }
  #varinfodiv p b {
    margin-left: 1em; }
  #varinfodiv h1 {
    font-size: 1.1em; }
  #varinfodiv h2 {
    font-size: 1em;
    margin-top: 1em;
    margin-left: 0em;
    margin-bottom: 0.5em; }
  #varinfodiv li {
    font-family: sans-serif;
    font-size: 0.9em; }
  #varinfodiv table.help_bar_link {
    width: 100%;
    border-collapse: collapse;
    text-decoration: inherit;
    color: inherit; }
    #varinfodiv table.help_bar_link td {
      border-bottom: 1px solid grey;
      padding: 2px; }
    #varinfodiv table.help_bar_link .c1 {
      width: 5em;
      text-align: center; }
    #varinfodiv table.help_bar_link .c2 {
      font-size: 0.9em;
      font-family: sans-serif; }
  #varinfodiv table.help_bar_coderef {
    width: 100%;
    border-collapse: collapse; }
    #varinfodiv table.help_bar_coderef td {
      border: 1px solid grey;
      padding: 2px; }
    #varinfodiv table.help_bar_coderef .c1 {
      width: 30%;
      font-family: sans-serif;
      font-size: 0.9em;
      font-weight: bold; }

#reoinputdiv {
  flex: 1 1 365px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  display: flex; }
  #reoinputdiv #reoinputdiv-content {
    width: 100%; }

#crosssectiondiv {
  flex: 0.1 0 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; }
