
//  http://colorschemedesigner.com/#3m42Dbb--tg--

$pri-1: #A8F1FF;
$pri-2: #91BDC5;
$pri-3: #3E9CAD;
$pri-4: #D4F8FF;
$pri-5: #F6FEFF;

$sec-a-1: #D8ACFF;
$sec-a-2: #AD94C5;
$sec-a-3: #7940AD;
$sec-a-4: #EBD6FF;
$sec-a-5: #FBF7FF;

$sec-b-1: #FFFBA6;
$sec-b-2: #C5C290;
$sec-b-3: #ADA83D;
$sec-b-4: #FFFDD2;
$sec-b-5: #FFFFF6;

$comp-1 :#FFD1A6;
$comp-2 :#C5AA90;
$comp-3 :#AD743D;
$comp-4 :#FFE8D2;
$comp-5 :#FFFAF6;






$col-l1: darkblue;
$col-l2: darkblue;

$col-very-light-bg: #FFFFFF;
$col-light-bg: #FAFAFA;



//#8f8596
body{
	font-size:16px;
	margin:0;
	padding: 5px 5px;
	//background: url("../img/Clouds.png"), darken($pri-5,3%);
	background:lightgrey;
	display:flex;
	flex-direction:row;
	
}

#maincol{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:flex-start;
	flex: 1 1 200px;
	height: calc(100% - 6px);
	overflow-y:scroll;
	border: 3px inset;
	background-color:white;
}
#secondarycol{
	display:flex;
	flex-direction:column;
	display:flex;
	flex: 0 0 400px;
	height:100%;
	margin-right:5px;
	background-color:white;
}












h1, h2, h3, h4{
	font-family:sans-serif;
	font-weight:bold;
	color:$pri-3;
}
h1{
	font-size:22pt;
	margin:0;
}
h2{
	font-size:14pt;
	margin: 2px 10px;
}
h3{
	font-size:10pt;
	margin: 0;
}





.CalcDiv{
	
	width:100%;
	border:1px solid grey;
	margin:5px 0px;
	
	.topdiv{
		&:hover{
			background-color:$pri-5;
		}
		.titlediv{
		
			font-size:120%;
			line-height:25px;
			height:25px;
			padding:5px;
			cursor:pointer;
			display:inline-block;
			
		
			.MathJax{
				vertical-align:bottom;
			}
		}
		button{
			width:25px;
			margin: 0;
			margin-left:5px;
			margin-right:2em;
			
		}
	}
	
	.contentdiv{
		min-height:20px;
		padding:5px;
		border-top: 1px dashed lightgrey;
		p{
			margin: 0;
			margin-left: 20px;
			margin-top:0.5em;
			padding:0;
		}
	}
}





input:invalid{
	background-color:$sec-b-1;
	color:red;
}



#reoouttable{
	border:1px solid lightgrey;
	border-collapse:collapse;
	 th{
		border-bottom:1px solid lightgrey;
		border-left:1px solid lightgrey;
		font-family:sans-serif;
		font-weight:normal;
	}
	td{
		border-bottom:1px solid lightgrey;
		padding: 1px 3px;
	}
	td.tableout{
		color:$pri-4/2;
		text-align:right;
		font-family:sans-serif;
		padding-right:0;
		min-width:50px;
		font-size:90%;
		padding-right:5px;
	}
}










.reotable{
	table-layout: fixed;
	width:100%;
	border-collapse: collapse;
	border:1px solid lightgrey;
	td{
		border-top:1px solid lightgrey;
		border-bottom:1px solid lightgrey;
		padding:2px;
	}
	tbody tr:hover{
		background-color:$pri-4;
	}
	tbody td{
		vertical-align:middle;
		text-align:center;
	}
	thead td{
		border-left:1px solid lightgrey;
		text-align:center;
		vertical-align:middle;
	}
}


.reoinput {
	button{
		width:13px;
		height:100%;
		padding:0;
		margin:0;
	}
	.bars{
		color:$pri-3;
		font-weight:bold;
	}
	input{
		width:100%;
		text-align:right;
	}
	input[type="checkbox"]{
		width:100%;
		height:16px;
		padding:0px;
		margin:0px;
	}
}



//////////////////////////////////
.protip{
	flex: 0 0 116px;
	width:  100%;
	margin: 5px 0;
	font-family: sans-serif;
	
	
	.tips, .feedback{
		color:$pri-3/4;
		padding:5px;
		line-height: 16px;
		font-size:	 14px;
	}
	.tips{
		height:32px;
		background-color: $sec-b-4*2;
		padding-left:4em;
		text-indent:-4em;
	}
	.feedback{
		height:64px;
		overflow-y:scroll;
		background-color: $sec-b-4;
		.errorlist, .warninglist, .infolist{
			list-style:none;
			padding:0;
			padding-left:3*16px;
			text-indent:-3*16px;
			margin:0px;
		}
		.errorlist li:before{
			content:'\2639';
			margin: 0 8px;
			color:red;
		}
		.warninglist li:before{
			content:'\2639';
			margin: 0 8px;
			color:orange;
		}
		.infolist li:before{
			content:'i';
			margin: 0 8px;
			color:grey;
		}
	}
}



//////////////////////////////////
.varinput{
	width:250px;
	height:18px;
	border:1px solid transparent;
	border-radius: 4px;
	padding:1px;
	margin:1px 0px;
	display:flex;
	align-items:center;
	cursor:pointer;
	&:hover{
		border:1px solid lightgrey;
	}
	.notation-div{
		text-align:right;
		padding-right:8px;
		font-size:18px;
	}
	.value-div{
		margin-left:3px;
		font-size:18px;
		width:35%;
	}
	.unit-div{
		margin-left:3px;
		padding-left:3px;
		font-size:18px;
		width:30%;
	}
	a{
		color:$pri-3/2;
		vertical-align:center;
		&:focus{
			outline:none;
		}
	}
	input, select{
		width:100%;
		font-size:16px;
		text-align:right;
		padding:0 3px;
		margin:0;
	}
	select{
		direction: rtl;
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}



.bmpblock{
	padding: 5px;
	background-color:$sec-a-5*2;
}
/* Tex src = http://fc07.deviantart.net/fs19/i/2007/291/6/b/Concrete_Texture_by_MartinIsaac.jpg*/
#apptitlebox{
	display:flex;
	flex: 0 0 35px;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-around;
	font-family:sans-serif;
	font-weight:bold;
	color:$pri-3;
	h1{
		flex: 0 1 150px;
		height:30px;
	}
	button{
		flex: 0 1 100px;
		height:30px;
		font-size:15px;
		color:inherit;
	}
}



#invardiv{
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	flex: 1 1 270px;
	width: 270px;
	padding: 5px;
	#invardivdiv{
		display:flex;
		flex-direction:rows;
		flex: 0 1 280px;
		flex-wrap:wrap;
		justify-content:space-around;
		align-content:space-around;
	}
}



#varinfodiv{
	flex: 1 1 500px;
	padding:0;
}




#reoinputoutputdiv{
	flex: 1 0 365px;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	justify-content:space-around;
	display:flex;
	#reooutputdiv{
		width:100%;
		margin-top:8px;
		padding-top:8px;
		border-top:2px dashed lightgrey;
	}
	#reoinputdiv{
		width:100%;
	}
}





#crosssectiondiv{
	flex: 0.1 0 420px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:flex-start;
}




#errortd{
	background-color:$sec-b-4;
	padding:5px;
}
#errortd p{
	margin: 8px 0;
	font-size:16px;
	line-height:16px;
}