body {
  font-size: 16px;
  margin: 0;
  padding: 5px 5px;
  background: lightgrey;
  display: flex;
  flex-direction: row; }

#maincol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex: 1 1 200px;
  height: calc(100% - 6px);
  overflow-y: scroll;
  border: 3px inset;
  background-color: white; }

#secondarycol {
  display: flex;
  flex-direction: column;
  display: flex;
  flex: 0 0 400px;
  height: 100%;
  margin-right: 5px;
  background-color: white; }

h1, h2, h3, h4 {
  font-family: sans-serif;
  font-weight: bold;
  color: #3e9cad; }

h1 {
  font-size: 22pt;
  margin: 0; }

h2 {
  font-size: 14pt;
  margin: 2px 10px; }

h3 {
  font-size: 10pt;
  margin: 0; }

.CalcDiv {
  width: 100%;
  border: 1px solid grey;
  margin: 5px 0px; }
  .CalcDiv .topdiv:hover {
    background-color: #f6feff; }
  .CalcDiv .topdiv .titlediv {
    font-size: 120%;
    line-height: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    display: inline-block; }
    .CalcDiv .topdiv .titlediv .MathJax {
      vertical-align: bottom; }
  .CalcDiv .topdiv button {
    width: 25px;
    margin: 0;
    margin-left: 5px;
    margin-right: 2em; }
  .CalcDiv .contentdiv {
    min-height: 20px;
    padding: 5px;
    border-top: 1px dashed lightgrey; }
    .CalcDiv .contentdiv p {
      margin: 0;
      margin-left: 20px;
      margin-top: 0.5em;
      padding: 0; }

input:invalid {
  background-color: #fffba6;
  color: red; }

#reoouttable {
  border: 1px solid lightgrey;
  border-collapse: collapse; }
  #reoouttable th {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    font-family: sans-serif;
    font-weight: normal; }
  #reoouttable td {
    border-bottom: 1px solid lightgrey;
    padding: 1px 3px; }
  #reoouttable td.tableout {
    color: #6a7c7f;
    text-align: right;
    font-family: sans-serif;
    padding-right: 0;
    min-width: 50px;
    font-size: 90%;
    padding-right: 5px; }

.reotable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgrey; }
  .reotable td {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 2px; }
  .reotable tbody tr:hover {
    background-color: #d4f8ff; }
  .reotable tbody td {
    vertical-align: middle;
    text-align: center; }
  .reotable thead td {
    border-left: 1px solid lightgrey;
    text-align: center;
    vertical-align: middle; }

.reoinput button {
  width: 13px;
  height: 100%;
  padding: 0;
  margin: 0; }
.reoinput .bars {
  color: #3e9cad;
  font-weight: bold; }
.reoinput input {
  width: 100%;
  text-align: right; }
.reoinput input[type="checkbox"] {
  width: 100%;
  height: 16px;
  padding: 0px;
  margin: 0px; }

.protip {
  flex: 0 0 116px;
  width: 100%;
  margin: 5px 0;
  font-family: sans-serif; }
  .protip .tips, .protip .feedback {
    color: #0f272b;
    padding: 5px;
    line-height: 16px;
    font-size: 14px; }
  .protip .tips {
    height: 32px;
    background-color: white;
    padding-left: 4em;
    text-indent: -4em; }
  .protip .feedback {
    height: 64px;
    overflow-y: scroll;
    background-color: #fffdd2; }
    .protip .feedback .errorlist, .protip .feedback .warninglist, .protip .feedback .infolist {
      list-style: none;
      padding: 0;
      padding-left: 48px;
      text-indent: -48px;
      margin: 0px; }
    .protip .feedback .errorlist li:before {
      content: '\2639';
      margin: 0 8px;
      color: red; }
    .protip .feedback .warninglist li:before {
      content: '\2639';
      margin: 0 8px;
      color: orange; }
    .protip .feedback .infolist li:before {
      content: 'i';
      margin: 0 8px;
      color: grey; }

.varinput {
  width: 250px;
  height: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 1px;
  margin: 1px 0px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .varinput:hover {
    border: 1px solid lightgrey; }
  .varinput .notation-div {
    text-align: right;
    padding-right: 8px;
    font-size: 18px; }
  .varinput .value-div {
    margin-left: 3px;
    font-size: 18px;
    width: 35%; }
  .varinput .unit-div {
    margin-left: 3px;
    padding-left: 3px;
    font-size: 18px;
    width: 30%; }
  .varinput a {
    color: #1f4e56;
    vertical-align: center; }
    .varinput a:focus {
      outline: none; }
  .varinput input, .varinput select {
    width: 100%;
    font-size: 16px;
    text-align: right;
    padding: 0 3px;
    margin: 0; }
  .varinput select {
    direction: rtl; }
  .varinput input[type=number]::-webkit-inner-spin-button, .varinput input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.bmpblock {
  padding: 5px;
  background-color: white; }

/* Tex src = http://fc07.deviantart.net/fs19/i/2007/291/6/b/Concrete_Texture_by_MartinIsaac.jpg*/
#apptitlebox {
  display: flex;
  flex: 0 0 35px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  font-family: sans-serif;
  font-weight: bold;
  color: #3e9cad; }
  #apptitlebox h1 {
    flex: 0 1 150px;
    height: 30px; }
  #apptitlebox button {
    flex: 0 1 100px;
    height: 30px;
    font-size: 15px;
    color: inherit; }

#invardiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 270px;
  width: 270px;
  padding: 5px; }
  #invardiv #invardivdiv {
    display: flex;
    flex-direction: rows;
    flex: 0 1 280px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; }

#varinfodiv {
  flex: 1 1 500px;
  padding: 5px;
  overflow-y: scroll; }
  #varinfodiv p {
    margin-left: 1em; }
  #varinfodiv h1 {
    font-size: 1.1em; }
  #varinfodiv h2 {
    font-size: 1em;
    margin-top: 1em;
    margin-left: 0em;
    margin-bottom: 0.5em; }

#reoinputoutputdiv {
  flex: 1 0 365px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  display: flex; }
  #reoinputoutputdiv #reooutputdiv {
    width: 100%;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 2px dashed lightgrey; }
  #reoinputoutputdiv #reoinputdiv {
    width: 100%; }

#crosssectiondiv {
  flex: 0.1 0 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; }

#errortd {
  background-color: #fffdd2;
  padding: 5px; }

#errortd p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 16px; }
