
//  http://colorschemedesigner.com/#3m42Dbb--tg--

$pri-1: #A8F1FF;
$pri-2: #91BDC5;
$pri-3: #3E9CAD;
$pri-4: #D4F8FF;
$pri-5: #F6FEFF;

$sec-a-1: #D8ACFF;
$sec-a-2: #AD94C5;
$sec-a-3: #7940AD;
$sec-a-4: #EBD6FF;
$sec-a-5: #FBF7FF;
 
$sec-b-1: #FFFBA6;
$sec-b-2: #C5C290;
$sec-b-3: #ADA83D;
$sec-b-4: #FFFDD2;
$sec-b-5: #FFFFF6;

$comp-1 :#FFD1A6;
$comp-2 :#C5AA90;
$comp-3 :#AD743D;
$comp-4 :#FFE8D2;
$comp-5 :#FFFAF6;






$col-l1: darkblue;
$col-l2: darkblue;

$col-very-light-bg: #FFFFFF;
$col-light-bg: #FAFAFA;



//#8f8596
body{
	font-size:16px;
	margin:0;
	padding: 5px 20px;
	background: url("../img/Clouds.png"), darken($pri-5,3%);
}
h1, h2, h3, h4{
	font-family:sans-serif;
	font-weight:bold;
	color:$pri-3;
}
h1{
	font-size:22pt;
	margin:0;
}
h2{
	font-size:14pt;
	margin: 2px 10px;
}
h3{
	font-size:10pt;
	margin: 0;
}





.CalcDiv{
	width:100%;
	border:1px solid grey;
	margin:5px 0px;
}
.CalcDiv .topdiv{
	font-size:120%;
	line-height:25px;
	height:25px;
	padding:5px;
	cursor:pointer;
}
.CalcDiv .topdiv:hover{
	background-color:$pri-5;
}
.CalcDiv .topdiv .MathJax{
	vertical-align:bottom;
}
.CalcDiv .contentdiv{
	min-height:20px;
	padding:5px;
	border-top: 1px dashed lightgrey;
}
.CalcDiv .contentdiv p{
	margin: 0;
	margin-left: 20px;
	margin-top:0.5em;
	padding:0;
}





input:invalid{
	background-color:$sec-b-1;
	color:red;
}



#reoouttable{
	border:1px solid lightgrey;
	border-collapse:collapse;
	 th{
		border-bottom:1px solid lightgrey;
		border-left:1px solid lightgrey;
		font-family:sans-serif;
		font-weight:normal;
	}
	td{
		border-bottom:1px solid lightgrey;
		padding: 1px 3px;
	}
	td.tableout{
		color:$pri-4/2;
		text-align:right;
		font-family:sans-serif;
		padding-right:0;
		min-width:50px;
		font-size:90%;
		padding-right:5px;
	}
}










.reotable{
	table-layout: fixed;
	width:100%;
	border-collapse: collapse;
	border:1px solid lightgrey;
	td{
		border-top:1px solid lightgrey;
		border-bottom:1px solid lightgrey;
		padding:2px;
	}
	tbody tr:hover{
		background-color:$pri-4;
	}
	tbody td{
		vertical-align:middle;
		text-align:center;
	}
	thead td{
		border-left:1px solid lightgrey;
		text-align:center;
		vertical-align:middle;
	}
}


.reoinput {
	button{
		width:13px;
		height:100%;
		padding:0;
		margin:0;
	}
	.bars{
		color:$pri-3;
		font-weight:bold;
	}
	input{
		width:100%;
		text-align:right;
	}
	input[type="checkbox"]{
		width:100%;
		height:16px;
		padding:0px;
		margin:0px;
	}
}



//////////////////////////////////
.protip{
	width:100%;
	border-radius:4px;
	background-color: $sec-b-4;
	color:$pri-3/4;
	border:1px solid grey;
	margin-top:5px;
	font-family:sans-serif;
	line-height:16px;
	font-size: 14px;
	.tips{
		height:32px;
		margin:2px;
		padding:5px;
		padding-left:55px;
		text-indent:-50px;
	}
	.feedback{
		border-top:1px solid lightgrey;
		height:70px;
		overflow-y:scroll;
		margin:2px;
		.errorlist, .warninglist, .infolist{
			list-style:none;
			padding:0;
			padding-left:3*16px;
			text-indent:-3*16px;
			margin:0px;
		}
		.errorlist li:before{
			content:'\2639';
			margin: 0 8px;
			color:red;
		}
		.warninglist li:before{
			content:'\2639';
			margin: 0 8px;
			color:orange;
		}
		.infolist li:before{
			content:'i';
			margin: 0 8px;
			color:grey;
		}
	}
}



//////////////////////////////////
.varinput{
	width:250px;
	height:18px;
	border:1px solid transparent;
	border-radius: 4px;
	padding:1px;
	margin:1px 0px;
	display:flex;
	align-items:center;
	cursor:pointer;
	&:hover{
		border:1px solid lightgrey;
	}
	.notation-div{
		text-align:right;
		padding-right:8px;
		font-size:18px;
	}
	.value-div{
		margin-left:3px;
		font-size:18px;
		width:35%;
	}
	.unit-div{
		margin-left:3px;
		padding-left:3px;
		font-size:18px;
		width:30%;
	}
	a{
		color:$pri-3/2;
		vertical-align:center;
		&:focus{
			outline:none;
		}
	}
	input, select{
		width:100%;
		font-size:16px;
		text-align:right;
		padding:0 3px;
		margin:0;
	}
	select{
		direction: rtl;
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}



.bmpblock{
	border: 1px solid $pri-2/3;
	margin: 5px;
	padding: 5px;
	background-color:$sec-a-5*2;
	box-shadow: 2px 2px 5px 0px black;//$pri-3*0.6;
}
/* Tex src = http://fc07.deviantart.net/fs19/i/2007/291/6/b/Concrete_Texture_by_MartinIsaac.jpg*/
#apptitlebox{
	display:flex;
	justify-content:space-around;
	text-align:center;
	font-family:sans-serif;
	font-weight:bold;
	font-size:32px;
	letter-spacing:1.6px;
	color:$pri-3;
	padding:10px;
	border-radius:0;
	button{
		flex: 0 1 400px;
		font-size:inherit;
		color:inherit;
	}
}



#invardiv{
	height:500px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:flex-start;
	flex: 0.1 0 270px;
	width: 270px;
	padding: 5px;
}
#invardivdiv{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-around;
	height: (36px+7px) * 8;
}
#invardiverrorbar{
	width:100%;
	height:4.4*16px;
	font-size: 12px;
	line-height:18px;
	border: 1px grey solid;
	background-color:$sec-b-4;
	padding:5px;
	border-radius:4px;
	margin-top:5px;
	font-family:sans-serif;
	color:$comp-3;
	overflow-y:scroll;
}


#invardiverrorbar ul li:before{
	content:'\2639';
	margin: 0 16px;
}

#varinfodiv{
	flex: 1 0 500px;
	padding:0;
	nav{
		height:30px;
		width:100px;
		padding:5px;
		button{
			width:30px;
		}
	}
}




#reoinputoutputdiv{
	flex: 0.01 0 430px;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	justify-content:space-around;
	display:flex;
	
}
#reooutputdiv{
	width:100%;
	margin-top:8px;
	padding-top:8px;
	border-top:2px dashed lightgrey;
}
#reoinputdiv{
	width:100%;
}
x-input{
	//width:280px;
}




#crosssectiondiv{
	flex: 0.1 0 500px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:flex-start;
}
#elevationdiv{
	flex: 2 0 500px;
}



#errortd{
	background-color:$sec-b-4;
	padding:5px;
}
#errortd p{
	margin: 8px 0;
	font-size:16px;
	line-height:16px;
}


.tooltipbar {
	width:100%;
	border:1px solid grey;
	border-radius:4px;
	//background: linear-gradient(to bottom, rgba(255,255,229,1) 0%,rgba(255,255,229,0) 2em);
	background-color: $sec-b-4;
	color:$pri-3/4;
	margin-top:5px;
	text-align:left;
	font-family:sans-serif;
	line-height:16px;
	font-size: 14px;
	height:32px;
	padding:5px;
	padding-left:55px;
	text-indent:-50px;
	
}