
body{
	margin:10px;
	padding:0px;
}
#main{
	display: flex;
	flex-direction: row;
}
lable{
	display:inline-block;
	margin: 1px;
	padding: 2px;
	border: 1px solid grey;
}
input{
	width:2cm;
}

.chunk{
	
}
.subchunk{
	display:flex;
	flex-direction:row;
	justify-content:left;
	flex-wrap:wrap;
}

.calcitem{
	boder:1px solid black;
}

#lbar{
	flex: 3 3 0;
	border: 1px solid black;
	padding:2px;
	margin:1px;
}

#rbar{
	flex: 2 2 0;
	border: 1px solid black;
	padding:2px;
	margin:1px;
}

h2{
	margin: 3px 10px 3px 5px;
	font-size:14pt;
}