
body{
	margin:5px;
	padding:0px;
}
lable{
	display:inline-block;
	margin: 1px;
	padding: 2px;
	border: 1px solid grey;
}
input{
	width:2cm;
}

.chunk{
	border: 1px solid black;
	padding: 3px;
	margin:1px;
}

#lbar{
	float:left;
	width:calc(60% - 8px);
	border: 1px solid black;
	padding:2px;
	margin:1px;
}

#rbar{
	float:left;
	width:calc(40% - 8px);
	border: 1px solid black;
	padding:2px;
	margin:1px;
}

h2{
	margin: 3px 10px 3px 5px;
	font-size:14pt;
}